/* Home Components */
.home {
    background-image: url('../../images/img1.jpg');
    background-size: cover;
    height: 100vh;
}

.home-content {
    height: 100vh;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000a6;
    left: 0;
    top: 0;
}

/* Header */
.header,
.header-right,
.nav-list,
.nav-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    padding: 15px 0;
    position: relative;
}

.header-left a {
    color: var(--color-one);
    font-family: var(--main-font);
    font-size: 29px;
    font-weight: bold;
}

.header-right .nav-list,
.header-right .nav-icon {
    margin-right: 20px;
}

.header-right .nav-list li a,
.header-right .nav-icon li a {
    margin: 0 8px;
    font-size: 18px;
    color: white;
}

.header-right .nav-list li:hover a,
.header-right .nav-icon li:hover a {
    color: var(--main-hover);
}

.header-right {
    transition: var(--main-transition);
}


.icon-btn {
    display: flex;
    align-items: center;
}

.header .menu {
    color: white;
    font-size: 35px;
    cursor: pointer;
    display: none;
    ;
}

.header-right.open {
    height: 234px;
}

@media (max-width: 992px) {
    .header-right {
        position: absolute;
        flex-direction: column;
        align-items: start;
        width: 98%;
        height: 0;
        overflow: hidden;
        top: 70px;
    }

    .nav-list {
        flex-direction: column;
    }

    .header-right .nav-list {
        margin-right: 0px;
        align-items: start;
        padding: 5px 5px;
    }

    .header-right .nav-list li {
        margin-bottom: 15px;
    }

    .header-right .nav-list li a,
    .header-right .nav-icon li a {
        margin: 0;
    }

    .header-right .nav-icon li a {
        padding: 0 8px;
    }

    .header .icon-btn {
        background-color: #000000c4;
        padding: 10px 5px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .header .menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .header {
        padding: 0 5px;
    }
}